.dashboard-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;

}
.sidebar-container {
  height: 100vh;
}


.dashboard-container {
  padding: 20px;
  color: white;
  background: #0f172a;
  width: 100%;

}
.header {
  display: flex;
  align-items: center;
  gap: 10px;
    margin-bottom: 20px;

}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

/* Welcome */
.welcome {
  font-size: 26px;
  font-weight: bold;
}

/* Stats grid */
.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 10px;
}

/* Card base */
.stat-card {
  padding: 20px;
  border-radius: 12px;
  background: #292939;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  text-align: center;
  transition: transform 0.2s ease;
}

.stat-card:hover {
  transform: translateY(-5px);
}

.stat-card h3 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #aaa;
}

.stat-card p {
  font-size: 28px;
  font-weight: bold;
}

/* Colors */
.total {
  border-left: 5px solid #4cafef;
}

.taskprogress {
  border-left: 5px solid #ff9800;
}

.taskcompleted {
  border-left: 5px solid #4caf50;
}

.taskpending {
  border-left: 5px solid #f44336;
}

/* Table section */
.table-section {
    margin-top: 0px;
    margin-left: -20px;
}

@media (max-width: 768px) {

  /* Show hamburger */
  .menu-icon {
    display: block;
  }

  /* Hide sidebar by default */
  .sidebar-container {
    position: fixed;
    left: -260px;
    top: 0;
    height: 100%;
    width: 250px;
    background: #0f172a;
    z-index: 1000;
    transition: 0.3s ease;
  }

  /* When open */
  .sidebar-container.open {
    left: 0;
  }

  /* Overlay */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999;
  }

  /* Stack layout */
  .dashboard-page {
    flex-direction: column;
  }

  /* Stats grid responsive */
  .stats-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}