.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-x: auto;
}

.modal {
  margin-top: 30px;
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  color: white;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-icon {
  cursor: pointer;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.modal input,
.modal textarea,
.modal select {
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #0f172a;
  color: white;
}

.create-btn {
  background: #2563eb;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.assigned-box {
  margin: 10px 0;
  padding: 10px;
  background: #0f172a;
  border-radius: 8px;
}

.selected-users span {
  margin-right: 5px;
  background: #2563eb;
  padding: 3px 8px;
  border-radius: 5px;
  color: white;
}

.picker-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.picker {
  background: #1e293b;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.contact-item img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}