.sidebar {
  width: 250px;
  background: linear-gradient(180deg, #3b82f6, #2563eb);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex-shrink: 0; /* prevents shrinking */
  height: 100vh;

}

/* Logo */
.sidebar-logo {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Links container */
.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Individual link */
.sidebar-link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 15px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

/* Hover effect */
.sidebar-link:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Active link (VERY IMPORTANT) */
.sidebar-link.active {
  background: white;
  color: #2563eb;
  font-weight: 600;
}

/* Icon styling */
.icon {
  font-size: 22px;
}
.notif-link {
  position: relative;
}

.notif-badge {
  position: absolute;
  right: 10px;

  background: red;
  color: white;
  font-size: 11px;
  font-weight: bold;

  width: 18px;
  height: 18px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}



/* Logout container */
.sidebar-logout {
  margin-top: auto;
}

/* Logout button styling */
.logout-btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px 15px;
  border-radius: 10px;

  border: none;
  background: rgb(189, 15, 15);
  color: white;
  cursor: pointer;

  transition: 0.3s ease;
}

.logout-btn:hover {
  background: rgb(127, 8, 8);
}